/*body{
  width:100%;
}*/
.svg-box {
	position:absolute;
  animation-name: rotateSplash;
  animation-duration:0.5s;
  animation-iteration-count:1;
  }
h2{
  width:100%;
	position:absolute;
	z-index:10;
  text-align:center;
  font-size:200px;
  color:white;
  overflow: hidden;
}
/*
.container{
  //background-color:pink;
  height:100%;
  width: 100%;
  margin:auto;
  position:relative;
  display:block;  
}*/
 
@keyframes rotateSplash {
    0%{
    transform:scale(0.3);
  }
  100%{
    transform:scale(1.0);
  }
}

#blue{
  height:100px;
  width:100px;
  border:1px solid blue;
  background:blue;
  margin-left:500px;
  margin-top:50px;
}